# Test Report
Explain how you are testing your project on three levels:
    Unit testing
    Integration testing
    Regression testing
Also explain how you have automated these things. 

Include a graphical overview of the code coverage (100% coverabe). 

You do not need to have tests of the demo code. It is presumed to have been properly tested in assignment 2. (But if you do find new bugs in the demo code, you should mention that.)

List your 6 most nasty bugs by linking to their issue pages on GitHub.

This file, together with the GitHub issue log, should convince the examiner that you pass Y69.



# ROUGH DRAFT, ADD POINTS BELOW THAT SHOULD BE IN REPORT

## How do we test the program
* Small introductory text
* Tests created using CUnit.

### Unit testing
* Add text here

### Integration testing
* Add text here

### Regression testing
* Add text here


## How have we automated the testing
* Add text here


## Graphical overview of code coverage
* Add text here. This will be done after all code is written.


# LINK TO GITHUB ISSUE LOG (GENERAL)
https://github.com/IOOPM-UU/Minnesmastarna/issues



# LINKS TO NASTY BUGS THAT HAD TO BE FIXED
* Add links here to the nastiest bugs that have been discovered, maybe with some text about what they were, and how we solved them.