# Test Report
Explain how you are testing your project on three levels:
    Unit testing
    Integration testing
    Regression testing
Also explain how you have automated these things. 

Include a graphical overview of the code coverage (100% coverabe). 

You do not need to have tests of the demo code. It is presumed to have been properly tested in assignment 2. (But if you do find new bugs in the demo code, you should mention that.)

List your 6 most nasty bugs by linking to their issue pages on GitHub.

This file, together with the GitHub issue log, should convince the examiner that you pass Y69.

